#snippet ( "Parentheses" iA
#($1)$0
#endsnippet

#snippet [ "Square bracket" iA
#[$1]$0
#endsnippet

#snippet { "Squiggly bracket" iA
#{$1}$0
#endsnippet

#snippet " "Double quote" iA
#"$1"$0
#endsnippet

#snippet ' "Single quote" iA
#'$1'$0
#endsnippet
